---
title: Release Notes for Compliance Scanner
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="1-3-X"></a> v1.3.X

**Release Date: MMMM XX, 2019**

### Features
New features and changes in this release:

*

*


### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
