---
title: Release Notes for Compliance Scanner for PCF
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %> (PCF).

##<a id="v116"></a> v1.1.6

**Release Date: September 6, 2019**

### Features
New features and changes in this release:

* Adds ability to cancel running scans.
* Adds ability to store scan results in Amazon S3 Buckets and MinIO Object Storage.
* Adds compatibility with STIG viewer.
* Adds additional logging for test duration and timestamps.
* Replace log formatted output with the csv format.
* Updates packaged benchmarks.
* Updates golang to v1.12.9.
* Updates bundled OpenSCAP to v1.3.1.

### Resolved Issue
This release fixes the following issues:

* Fixes BOSH DNS lookup issue due to a network name having uppercase.
* Fixes the `oscap_store` VM's error code from `0` to `1`.
