---
title: Release Notes for Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>


<p class="note warning">
<strong>WARNING! </strong>
The <%= vars.product_full %> tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

These are release notes for <%= vars.product_full %>.

##<a id="v1-0"></a> v1.0 (Beta)

**Release Date:** December 7, 2018

Features included in this release:

* Feature one.

Fixed issues in this release:

* Fixed issue one.

Known issues in this release:

* Issue one.