---
title: Release Notes for Compliance Scanner for PCF
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %> (PCF).

##<a id="1-1-19"></a> v1.1.19

**Release Date: September 24, 2019**

### Features
New features and changes in this release:

* Adds ability to apply cpu limit on the scanner daemon.
  For more information, see [Configure Scans](./installing.html#scan).
* Adds ability to cancel running scans.
  For more information, see [Cancel a Running Scan](./using.html#cancel-scan).
* Adds ability to store scan results in Amazon S3 Buckets and Minio Object Storage.
  For more information, see [(Optional) Configure S3 Upload](./installing.html#s3).
* Adds compatibility with STIG viewer.
* Adds additional logging for test duration and timestamps.
* Replaces log formatted output with the CSV format.
* Updates packaged benchmarks.
* Updates golang to v1.12.9.
* Updates bundled OpenSCAP to v1.3.1.

### Resolved Issues
This release fixes the following issues:

* Fixes BOSH DNS lookup issue due to a network name having uppercase.
* Fixes the `oscap_store` VM's error code from `0` to `1`.

### Known Issue
This release has the following issue:

* Rule `R-95-2` of the `Pivotal Recommended` benchmark fails incorrectly.
