---
title: Release Notes for Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>


<p class="note warning">
<strong>WARNING! </strong>
The <%= vars.product_full %> tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

These are release notes for <%= vars.product_full %>.

##<a id="ver"></a> vCURRENT-VERSION-NUMBER (Ex. v1.0.1)

**Release Date:** RELEASE-DATE (Ex. October 1, 2017)

Features included in this release:

* Feature one.
* Feature two.
* Feature three.

Fixed issues in this release:

* Fixed issue one.
* Fixed issue two.
* Fixed issue three.

**When you have fixed issue, you should have a corresponding known issue in the release below.**

Known issues in this release:

* Issue one.
* Issue two.
* Issue three.