---
title: Release Notes for Compliance Scanner for PCF
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

These are release notes for Compliance Scanner for PCF.

<%= partial "upgrade-planner" %>

## <a id="1-1-19"></a> v1.1.19

**Release Date: September 24, 2019**

### Features
New features and changes in this release:

* Adds ability to apply a CPU limit on the scanner daemon.
  For more information, see [Configure Scans](./installing.html#scan).
* Adds ability to cancel running scans.
  For more information, see [Cancel a Running Scan](./using.html#cancel-scan).
* Adds ability to store scan results in Amazon S3 Buckets and Minio Object Storage.
  For more information, see [(Optional) Configure S3 Upload](./installing.html#s3).
* Adds compatibility with DISA STIG Viewer v2.9.
* Adds additional logging for test duration and timestamps.
* Replaces log formatted output with the CSV format.
For more information about the output formats that you can configure, see [Configure Scans](./installing.html#scan).
* Updates packaged benchmarks.
* Updates golang to v1.12.9.
* Updates bundled OpenSCAP to v1.3.1.

### Resolved Issues
This release fixes the following issues:

* Fixes BOSH DNS lookup issue due to a network name having uppercase.
* Fixes the `oscap_store` VM's error code from `0` to `1`.

### Known Issue
This release has the following issue:

* Rule `R-95-2` of the `Recommended Security Baseline` benchmark fails incorrectly.
* **cgroups:** Scans use more resources due to multiple cores of a VM being used to run scans.
  This might cause performance issues on Diego Cell VMs with many apps.
