---
title: Release Notes for Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

<%= partial ("beta-partial") %>

These are release notes for <%= vars.product_full %> (PCF)(Beta).

##<a id="v1-0"></a> v0.1 (Beta)

**Release Date:** December 21, 2018

### Features

Beta release of <%= vars.product_short %>


### Known Issues

There are no known issues for this release.
