---
title: Release Notes for Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

<%= partial ("beta-partial") %>

These are release notes for <%= vars.product_full %> (PCF)(Beta).


##<a id="v1-0-0-25"></a> v1.0.0-beta.25

**Release Date:** April 3, 2019

### Features

New features and changes in this release:

* Updates OpenSCAP to v1.3.0.
* Adds index.html to provide HTML results.
* Removes dependencies requiring the Pivotal Application Service (PAS) tile. 
  This enables scans on Pivotal Container Service (PKS) only environemnts.

### Resolved Issue
This release fixes the following issue:

* An issue when scanning environments without other tiles.

### Known Issue
This release has the following known issue:

* No support for federated single sign-on and authorization.


##<a id="v1-0-0-7"></a> v1.0.0-beta.7

**Release Date:** Month XX, 2019

<<<<<<< HEAD
### Features

New features and changes in this release:

*
*
*
=======
This is the first release of <%= vars.product_short %>.

### Features
New features and changes in this release:

* Features the ability to scan all BOSH-managed VMs to verify secure platform configuration
* Contains four bundled benchmarks with tests developed for cloud native OS stemcells
* Allows high-level scan reports for each VM in LOG, XML, and HTML formats
>>>>>>> Edits to RNs for PR#5 [#165125601]

### Known Issues
This release has the following known issues:

* If Compliance Scanner for PCF is scanning a deployment and that deployment is destroyed before the scanning errand is finished,
  then Apply Changes errors out with the message: `Cannot iterate over null (null)`.
<<<<<<< HEAD

=======
>>>>>>> Edits to RNs for PR#5 [#165125601]
* Some Base Xenial benchmark tests fail.
The following table lists the tests that fail and which components they fail on:

<table class="nice">
<col width="50%">
<col width="50%">
<tr>
  <th>Components</th>
  <th>ID of Failed Test</th>
</tr>

<tr>
  <td>
    <ul>
      <li>Diego VM</li>
    </ul>
  </td>
  <td>
    <ul>
     <li>SV-90191r1</li>
     <li>SV-90193r3</li>
     <li>SV-90235r1</li>
     <li>SV-90237r1</li>
     <li>SV-90263r2</li>
     <li>SV-90277r3</li>
     <li>SV-90491r4</li>
    </ul>
   </td>
</tr>

<tr>
  <td>
   <ul>
    <li>Clock Global</li>
    <li>Cloud Controller</li>
    <li>Cloud Controller Worker</li>
   </ul>
  </td>
  <td>
   <ul>
     <li>SV-90191r1</li>
     <li>SV-90491r4</li>
   </ul>
  </td>
</tr>

<tr>
  <td>
    <ul>
      <li>All components</li>
    </ul>
  </td>
  <td>
    <ul>
      <li>SV-90277r3</li>
    </ul>
  </td>
</tr>
</table>
