---
title: Release Notes for Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

<%= partial ("beta-partial") %>

These are release notes for <%= vars.product_full %> (PCF)(Beta).

##<a id="v1-0"></a> v1.x.x-beta.x

**Release Date:** Month XX, 2019

### Features

New features and changes in this release:

* 
* 
* 


### Known Issues

This release has the following known issues:

* If Compliance Scanner for PCF is scanning a deployment and that deployment is destroyed before the scanning errand is finished,
  then Apply Changes errors out with the message: `Cannot iterate over null (null)`. 

* Some Base Xenial benchmark tests fail. 
The following table lists the tests that fail and which components they fail on:

    <table class="nice">
<col width="50%">
<col width="50%">
<tr>
  <th>Components</th>
  <th>ID of Failed Test</th>
</tr>

<tr>
  <td>
    <ul>
      <li>Diego VM</li>
    </ul>
  </td>
  <td>
    <ul>
     <li>SV-90191r1</li>
     <li>SV-90193r3</li>
     <li>SV-90235r1</li>
     <li>SV-90237r1</li>
     <li>SV-90263r2</li>
     <li>SV-90277r3</li>
     <li>SV-90491r4</li>
    </ul>
   </td>
</tr>

<tr>
  <td>
   <ul>
    <li>Clock Global</li>
    <li>Cloud Controller</li>
    <li>Cloud Controller Worker</li>
   </ul>
  </td>
  <td>
   <ul>
     <li>SV-90191r1</li>
     <li>SV-90491r4</li>
   </ul>
  </td>
</tr>

<tr>
  <td>
    <ul>
      <li>All components</li>
    </ul>
  </td>
  <td>
    <ul>
      <li>SV-90277r3</li>
    </ul>
  </td>
</tr>
</table>

