---
title: Upgrading Compliance Scanner for PCF
owner: Pivotal Compliance and Innovation (PCI) Team
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade Compliance Scanner for PCF.

<%= partial vars.path_to_partial + "/upgrade-planner" %>

## <a id="overview"></a> Overview

After upgrading <%= vars.product_short %> to a later version, configured properties from your existing tile are 
brought into the new installation.

Pivotal recommends that you review your **Scan**, **Errand**, and **Resource** 
settings before applying changes.

## <a id="procedure"></a> Procedure

To upgrade your version of <%= vars.product_short %> to a later version:

1. Download the new version of the product file from Pivotal Network.
1. Follow the procedures found in [Installing and Configuring Compliance Scanner for PCF](./installing.html).
1. After applying changes to the Compliance Scanner for PCF tile, **Apply Changes** again for all tiles.<br>
  This is so that the version of Compliance Scanner for PCF on the VMs matches
  the version being used by the scanner.
