---
title: Using Compliance Scanner for PCF (Beta)
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>


<p class="note warning">
<strong>WARNING! </strong>
The <%= vars.product_full %> tile is currently in beta and is intended for evaluation and test purposes only. 
However, this product can be used in a PCF production environment, as it does not have any impact on other tiles or VMs.
</p>


This topic describes how to use <%= vars.product_full %>.

##<a id='using'></a> Using <%= vars.product_short %>

###<a id='start-scan'></a> Initiating a scan
Assuming the desired benchmarks and log formats were selected
1.Click on “REVIEW PENDING CHANGES”

**IMAGE**

2. Make sure that the errand for the Compliance Scanner Add-on is selected.

**IMAGE**

WHY DOES IT CHECK OFF EVERYTHING? IS THAT WHAT WE WANT TO BE SEEING?
WE ONLY WANT TO HAVE COMPLIANCE SCANNER WITH PENDING CHANGES BEFORE RUNNING A SCAN YES?
(For screenshot, should only show compliance scanner? or with other items but with their boxes unchecked?)



3. If you are certain that there are no other changes being applied and you only want to scan, the you can uncheck the PAS tile and click “Apply Changes”. If PAS tile is checked, it will go through the motion of determining changes despite the tile not having any and wouldn’t get re-deployed.

If there are changes from other sources, leave the PAS errands checked to allow those changes to occur. A scan will be triggered at the end.

4. When complete, click into the Compliance Scanner tile, go to status. Click on the download button on the right (under LOGS) to download the all the scan result from the oscap_store (tile VM) to Ops Man.

**IMAGE**

5. Go to the Logs tap and click on the zip file that corresponds to the desired scan result. The timestamp listed on the right was when the download in step 4 was initiated. This will download the zip file to your local machine.


6. The result are in the follow folder structure

**IMAGE**

